<link rel="stylesheet" href="/css/log.css">

<div class="signup-page-container">
  <div class="signup-card">
    <h1>Signup on Trippy</h1>
    <form action="/signup" method="POST" class="row g-3 needs-validation" novalidate>
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input name="username" id="username" placeholder="Enter username" type="text" class="form-control" required/>
        <div class="invalid-feedback">Please enter username!</div>
        <div class="valid-feedback">Username looks good.</div>
      </div>

      <div class="mb-3">
        <label for="email" class="form-label">E-mail</label>
        <input name="email" id="email" placeholder="Enter email" type="email" class="form-control" required/>
        <div class="invalid-feedback">Please enter email!</div>
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input name="password" id="password" placeholder="Enter password" type="password" class="form-control" required/>
        <div class="invalid-feedback">Please enter password!</div>
      </div>

      <button class="btn btn-success w-100">Sign Up</button>
    </form>

    <p class="text-center mt-3">
      Already have an account? 
      <a href="/login" class="text-decoration-none"> Login</a>
    </p>
  </div>
</div>